body {
    font-family: Helvetica;
    background-color: antiquewhite;
}
.title {
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
}

.brushes h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

.frames h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}

.paints h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}

.price {
    color: blue; 
    font-weight: bold;
}

.images {
    position: relative;
    right: 40px;
}